{% import "_includes/forms" as forms %}

{% macro configWarning(setting, file) -%}
	{{ "This is being overridden by the {setting} config setting."|t({
		setting: '<a href="http://craftcms.com/docs/config-settings#'~setting~'" target="_blank">'~setting~'</a>'
	})|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{{ forms.textField({
	label: "API Key"|t,
	name: 'apiKey',
	instructions: "Enter the API Key from your <a href='https://www.campaignmonitor.com/api/getting-started/?&_ga=1.195741929.458523390.1446569721#clientid' target='_blank'>Client Settings</a>."|t,
	value: settings is defined ? settings.apiKey : null,
	warning: (craft.config.sproutEmail.campaignmonitor.apiKey ? configWarning('apiKey')),
	errors: settings is defined ? settings.getErrors('apiKey') : null,
	first: true
}) }}

{{ forms.textField({
	label: "Client ID"|t,
	name: 'clientId',
	instructions: "Enter the Client ID from your <a href='https://www.campaignmonitor.com/api/getting-started/?&_ga=1.195741929.458523390.1446569721#clientid' target='_blank'>Client Settings</a>."|t,
	value: settings is defined ? settings.clientId : null,
	warning: (craft.config.sproutEmail.campaignmonitor.clientId ? configWarning('clientId')),
	errors: settings is defined ? settings.getErrors('clientId') : null
}) }}